{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 mx-auto shadow p-3 mt-5">
                <h5>Password Reset Successful</h5>
                <hr>
                <p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">login</a> with your new password.</p>
            </div>
        </div>
    </div>
</body>
</html>